h1{
  font-family: "Times New Roman", Times,sans-serif;
  font-style: oblique;
  color:Purple;
  text-align: center;
  text-decoration: underline;
  font-size: 60px
}
.ensemble{
  display: inline;
}
.bis{
  transform: scaleX(-1);
  width: 200px;
  height: 180px;
  float: left;
  margin-left: -110px;
}
.rainbow{
  width: 200px;
  height: 180px;
  margin-left: 90%;
}
.image {
  animation: slidein 13s infinite;
  position: absolute;
  z-index: -1;
}

@keyframes slidein {
  from {
    margin-left: -10%;
  }

  to {
    margin-left: 100%;
  }
  0%   {margin-top: 0%;}
  10%  {margin-top: 10%;}
  20%  {margin-top: 0%;}
  30%  {margin-top: 10%;}
  40%  {margin-top: 0%;}
  50%  {margin-top: 10%;}
  60%  {margin-top: 0%;}
  70%  {margin-top: 10%;}
  80%  {margin-top: 0%;}
  90%  {margin-top: 10%;}
  100% {margin-top: 20%;}
}
#reglement{
  font-size: 23px;
  margin: auto;
  padding-left: 350px;
}
p{
  font-size: 23px;
  font-style: normal;
  width: 900px;
  margin: auto;
}
body{
  background: linear-gradient(White, Lightpink);
  width: 1650px;
  margin: auto;
}
h3{
  color: Purple;
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  width: 900px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
body>div{
  background-color: rgba(255, 255, 255, 0.3);
}
#reseau{
  font-size: 23px;
  text-decoration: underline;
  text-decoration-color: #CD5C5C;
  margin: auto;
  padding-left: 350px;
}
html{
  height: 100%
}
